@import "tailwindcss";

@theme inline {
  --color-dark: #343a40;
  --color-primary: #007bff;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-success: #28a745;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}